<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clawhub.auth.mapper.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.clawhub.auth.entity.RolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_operator_id" jdbcType="VARCHAR" property="createOperatorId" />
    <result column="create_operator_name" jdbcType="VARCHAR" property="createOperatorName" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_operator_id" jdbcType="VARCHAR" property="updateOperatorId" />
    <result column="update_operator_name" jdbcType="VARCHAR" property="updateOperatorName" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="permission_id" jdbcType="VARCHAR" property="permissionId" />
  </resultMap>

    <!--根据角色ID列表获取权限ID列表 -->
    <select id="findPermissionIdsByRoleIds" parameterType="java.util.List" resultType="java.lang.String">
        select permission_id
        from t_role_permission
        where is_delete = '0'
        and role_id in
        <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
</mapper>